* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* will look into adding media query for accessibility on other devices */
/* @media screen and (min-width: 30rem) { */


body {
    background-color: #d9dcd6;
}
/* Adding Flex Container */
.flexcontainer-head{
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    flex-wrap: wrap-reverse;
    
}
/* added an order and flex grow. Logo stays left while links follow parent properties */
.flexcontainer-head h1 {
    font-size: 48px;
    order: 1;
    flex-grow: 1;
}

.flexcontainer-head h1 .seo {
    color: #d9dcd6;
}

.flexcontainer-head div {
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.flexcontainer-head div ul {
    list-style-type: none;
}

.flexcontainer-head div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* changed content to flex container which shows in a column */
.content {
    flex-shrink: 1;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 0%;
    flex: 75%;
    margin-left: 20px;

}
/* benefits will sit beside content */
*.benefits {
    margin-right: 20px;
    padding: 20px;
    flex: 25%;
    width: 20%;
    flex-wrap: wrap;
    float: right;
    flex-shrink: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

/* consolidated all benefits h3 tags to one class */
.benefits h3 {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 10px;
}

/* consolidated all benefits img tags to one class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* added flex to each class to contain content */
.search-engine-optimization {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* added flex to each class to contain content */
.online-reputation-management {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* added flex to each class to contain content */
.social-media-marketing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* ordered the image before text */
.search-engine-optimization img {
    max-height: 200px;
    order: 1;
}

/* places text on right side of image */
.content-1-text {
    width: 50%;
    order: 2;
    margin-bottom: 20px;
}
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* ordered image to show after text */
.online-reputation-management img {
    max-height: 200px;
    order: 2;
}

/* ordered all text on left of image */
.content-2-text {
    order: 1;
    width: 50%;
    margin-bottom: 20px;

}
.online-reputation-management h2 {
    font-size: 36px;
}

/* ordered image before text */
.social-media-marketing img {
    max-height: 200px;
    order: 1;
}

/* ordered text to show on right side of image */
.content-3-text {
    width: 50%;
    order: 2;
    margin-bottom: 20px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
    clear: both;
}